<div>
    <!-- Spill Location DropDown -->
    <div class="ERGSettingsRow">
      <div class="ERGInputLabel ERGEllipsis SubTitle" title="${nls.spillLocationLabel}">${nls.spillLocationLabel}</div>
      <div class="ERGLabelSettingsDownButton ERGSettingsButtonIcon ERGPointer" title="${nls.spillLocationButtonLabel}" data-dojo-attach-point="spillLocationSettingsButton"></div>
    </div>
    
    <!-- Spill Location Color Picker -->
    <div class="controlGroupHidden" data-dojo-attach-point="spillLocationContainer">
      <div data-dojo-attach-point="spillLocation">
        <div data-dojo-attach-point="spillLocationSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"fill"'></div>
      </div>       
    </div>
    
    <!-- Initial Isolation DropDown -->
    <div class="ERGSettingsRow">
      <div class="ERGInputLabel ERGEllipsis SubTitle" title="${nls.IISettingsLabel}">${nls.IISettingsLabel}</div>
      <div class="ERGLabelSettingsDownButton ERGSettingsButtonIcon ERGPointer" title="${nls.IIButtonLabel}" data-dojo-attach-point="IISettingsButton"></div>
    </div>
    
    <!-- Initial Isolation Zone -->
    <div class="controlGroupHidden" data-dojo-attach-point="IIZoneContainer">
      <div data-dojo-attach-point="IIZone">
        <div data-dojo-attach-point="IIZoneSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"fill"'></div>
      </div>       
    </div>
    
    <!-- Fire Isolation DropDown -->
    <div class="ERGSettingsRow">
      <div class="ERGInputLabel ERGEllipsis SubTitle" title="${nls.fireSettingsLabel}">${nls.fireSettingsLabel}</div>
      <div class="ERGLabelSettingsDownButton ERGSettingsButtonIcon ERGPointer" title="${nls.fireButtonLabel}" data-dojo-attach-point="fireSettingsButton"></div>
    </div>
    
    <!-- Fire Isolation Zone -->
    <div class="controlGroupHidden" data-dojo-attach-point="fireZoneContainer">
      <div data-dojo-attach-point="fireZone">
        <div data-dojo-attach-point="fireZoneSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"fill"'></div>
      </div>       
    </div>
    
</div>